/********Universal Styles*********/

* {
	box-sizing: border-box;
}

/*******Base Level Styles********/

body {
	font-family: 'EB Garamond', serif;
	line-height: 1.5;
    color: black;
    padding-top: 37px;
}
p {
    font-size: 1em;
}
ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
footer {
    text-align: center;
}

/********Layout Styles********/

/*Sticky nav header styles*/
.mainHeader {
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: center;
}
.mainNav li {
    font: initial;
    font-size: larger;
}
.socialNav li {
    display: inline-block;
}
.menuToggle {
    background: none;
    border: none;
    margin-top: 5px;
}
/*Generic site styles*/
.mainWrapper {
    min-height: calc(100vh - 110px);
}
.wrapper {
    width: 95%;
    margin: 0 auto;
}
.wrapper a {
    text-decoration: underline;
}
.mainContent {
    text-align: center;
}
.footerInfo {
    text-align: center;
    padding-bottom: 5px;
}
/*Project page styles*/
.grid_container{
    border-bottom: 4px double black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr auto 1fr;
}
.box1 {
    grid-column: 1 / span 3;
    grid-row: 1;
    justify-self: start;
    align-self: center;
    padding-left: 1em;
}
.box2 {
    grid-column: 4;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}
.box3 {
    grid-column: 1 / span 4;
    grid-row: 2;
}
.box4 {
    font-size: 1em;
    grid-column: 1 / span 4;
    grid-row: 3;
    padding: 1em;
}
.projectWindow {
    width: 100%;
    height: auto;
}
.projectWindow:hover {
    border: solid 2px #fff;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .4);
}


/********Media Queries*********/

/*Tablet display layout*/
@media (min-width: 321px){
    body {
        padding-top: 74px;
    }
    ul {
        margin-block-end: .2em;
        margin-block-start: .2em;
    }
    .mainWrapper {
        min-height: calc(100vh - 160px);
    }
    .mainNav .socialNav {
        padding: 0px;
    }
    .mainNav li {
        display: inline-block;
        margin-left: 10px;
        padding-left: 10px;
    }
    .socialNav li {
        margin-left: 15px;
    } 
    .menuToggle {
        display: none;
    }
    .clearfix::after {
		content: " ";
		display: table;
		clear: both;
    }
    .grid_container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: .1fr 1fr;
    }
    .box1 {
        grid-column: 1 / span 7;
    }
    .box2 {
        grid-column: 8;
    }
    .box3 {
        grid-column: 5 / span 8;
        justify-self: center;
        padding: 1em;
    }
    .box4 {
        grid-row: 2;
        justify-self: auto;
        align-self: start;
        margin: 0;
    }
}
/*PC display layout*/
@media (min-width: 769px) {
    p {
        font-size: 2em;
    }
    ul {
        margin-block-end: 1em;
        margin-block-start: 1em;
    }
    .mainWrapper {
        min-height: calc(100vh - 154px);
    }
    .wrapper{
        width: 90%;
    } 
    .mainNav {
        float: left;
        margin: 25px;
    }
    .mainNav li {
        border-left: solid 1px;
    }
    .socialNav {
        float: right;
        margin-right: 25px;
    }
    .grid_container{
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .reverse {
        direction: rtl;
    }
    .box1 {
        grid-column: 1 / span 3;
        justify-self: left;
    }
    .box2 {
        grid-column: 4;
    }
    .box3 {
        grid-row: 1 / span 4;
        align-self: center;
    }
    .box4 {
        grid-row: 2 / span 4;
        text-align: left;
    }
}